HEART_API_URL=heart-sms-backend:5000
HEART_WEBSOCKETS_URL=heart-sms-mqtt:5050
HEART_MQTT_URL=heart-sms-mqtt
HEART_USE_SSL=false

# Limit user signups
# Wildcard (allow all users): *
# Or specify each user separated by commas (no spaces)
HEART_ALLOWED_USERS=test@email.com