api.heart.lan {

  route /api/v1/stream {
    reverse_proxy http://localhost:5050
  }

  route /* {
    reverse_proxy http://localhost:5000
  }
 
  tls internal 
}

web.heart.lan {
  route /* {
    reverse_proxy http://localhost:8081
  }

  tls internal
}
 
