(tls) {
  # CHANGEME: Uncomment the following line and add your cert paths. Comment `tls internal`
  #tls /path/to/cert.crt /path/to/key.key

  # CHANGEME: Comment this line after adding your own cert
  tls internal
}

# CHANGEME: Use your own api URL
api.heart.lan {

  route /api/v1/stream {
    reverse_proxy http://localhost:5050
  }

  route /* {
    reverse_proxy http://localhost:5000
  }
 
  import tls 
}

# CHANGEME: Use your own web URL
web.heart.lan {
  route /* {
    reverse_proxy http://localhost:8081
  }

  import tls
}
 
